<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewpoint" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <title>歌枕へのアクセス</title>
  <script src="jquery-3.0.0.min.js"></script>
  <style>
    #map {
      height: 100%
    }
    html, body {
      height: 100%
    }
  </style>
</head>


<body>
  <h1>歌枕への行き方</h1>
<% if @stations_home['result'].nil? %>
  <p>自宅から自宅最寄り駅までの距離が徒歩90分を超えています。</p>
  <p>自動車での移動をお勧めします。</p>

<% elsif @stations_des['result'].nil? %>
  <p>目的地から目的地最寄り駅までの距離が徒歩90分を超えています。</p>
  <p>自動車での移動をお勧めします。</p>

<% else %>
  <h2>経路</h2>
    <h3>目的地最寄り駅までの経路</h3>
    <table border=1>
      <tr>
        <th></th>
        <th>駅名　(県名)</th>
      </tr>
      <tr>
        <td width= 150>自宅最寄り駅</td>
        <td width= 200><%= @station_h + '駅　(' + @str_pref_h + ')' %></td>
      </tr>
      <tr>
        <td width=150>目的地最寄り駅</td>
        <td width=200><%= @station_d + '駅　(' + @str_pref_d + ')' %></td>
      </tr>
    </table>
  <%= link_to '歌枕までの電車乗り換え', @ResourceURL %>
  <br>
  <br>
  <h3>目的地最寄り駅からのルート</h3>
  <div id="map" style="width: 800px; height: 600px;"></div>
  <script>
    function initMap() {
      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer;
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: {lat: <%= @des_lat %>, lng: <%= @des_lng %>}
      });
      directionsDisplay.setMap(map);
      calculateAndDisplayRoute(directionsService, directionsDisplay);
    }
      
    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
      directionsService.route({
        origin: new google.maps.LatLng(<%= @LatLng_des_station['lat'] %>, <%= @LatLng_des_station['lng'] %>, false),
        destination: new google.maps.LatLng(<%= @des_lat %>, <%= @des_lng %>, false),
        travelMode: 'DRIVING'
      }, function(response, status) {
        if (status === 'OK') {
          directionsDisplay.setDirections(response);
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyAF7dZ8bP6q7hM2_SCtcVxeqjs9ASMYDBw">   
  </script>
<% end %>

  <h2>目的地周辺の情報</h2>
  <h3>目的地最寄りのホテル</h3>
  <% if @hotel_info.nil? %>
    <p>目的地の半径3km範囲内にはホテルはありません。</p>
  <% else %>
    <table border=1>
      <thead>
        <tr>
          <th>写真</th>
          <th>ホテル名</th>
          <th>住所</th>
          <th>参考料金</th>
          <th>チェックイン時間</th>
          <th>説明</th>
        </tr>
      </thead>
      <tbody>
        <% @hotel_info.each do |h| %>
        <tr>
          <td width=70><%= image_tag h['PictureURL'] %></td>
          <td width=300><%= link_to h['HotelName'], h['HotelDetailURL'] %></td>
          <td width=200><%= h['HotelAddress'] %></td>
          <td width=80 align="center"><%= h['SampleRateFrom'] %></td>
          <td width=80><%= h['CheckInTime'] %></td>
          <td width=300><%= h['HotelCatchCopy'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</body>